* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    background: #f2f2f2;
    border-top: 4px solid #ed1c40;
    border-bottom: 4px solid #ed1c40;

    align-content: center;
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
}

h1 {
    text-align: center;
    margin: 50px 0 50px;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 75px;
    top: 100px;
    

}

table {
    position: relative;
    display: inline-table;
    margin: 15px;
    text-align: center;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #ed1c40;
    width: 80%;
    border-radius: .25rem;
}
.totales{
    position:absolute;
    width: 50%;
    top: 200px;
    text-align: center;
    left: 25%;
    right: 25%;
    min-width: 600px;
}
.filtros {
    position: relative;
    display: inline-table;
    margin: 15px;
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #ed1c40;
    width: 320px;
    border-radius: .25rem;
}
.filtros td:first-child{
    padding-left: 20px;
}
.filtros td{
    padding-right: 30px;
}
.card td:last-child {
    text-align: center;
    padding-right: 20px;
}
th {
    background: #ed1c40;
    color: #fff;
    border: none;
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
    -webkit-text-stroke: 1px black;
}
table th {
    border-bottom: #e3e1e1 1px solid;
}

.card {
    position: relative;
    display: inline-table;
    margin: 15px;
    text-align: left;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #ed1c40;
    width: 290px;
    border-radius: .25rem;
    
}

.card th, .administracion th {
    background: #ed1c40;
    color: #fff;
    border: none;
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
    font-weight: 500;
    padding-right: 25px;
    border-bottom: #e3e1e1 1px solid;
}

.card th:first-child {
    text-align: left;
}
.card th:first-child,
.card td:first-child,
.administracion th:first-child,
.administracion td:first-child {
    padding: 0 0px 0 10px;
    
}
.administracion {
    position: relative;
    display: inline-table;
    margin: 15px;
    text-align: center;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #ed1c40;
    width: 90%;
    border-radius: .25rem;
    right: 20px;
    left: 10px;
}
.userAgent{
    width: 300px;
    min-width: 300px;
    max-width: 300px;
}
.movimientos {
    position: relative;
    display: inline-table;
    margin: 15px;
    text-align: center;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #ed1c40;
    border-radius: .25rem;

}
.movimientos th{
    min-width: 90px;
}
.movimientos td:first-child{
    text-align: center;
    padding-left: 20px;
    width:50px;
}
.movimientos td:last-child{
    text-align: right;
    padding-right: 5px;
    
}


.portada {
    margin: auto;
    display: block;
    height: 200px;
    cursor: pointer;
}
.tipo{
    border-radius: 5%;
    text-align: center;
    padding: 0 5px 0 5px;
}
.tipo:hover{
    background-color: #aaa8a8;
}
tbody tr {
    transition: all .25s ease;
}

tbody tr:hover {
    background-color: #e3e1e1;
    cursor: default;
}

tbody td {
    border-bottom: 1px solid #ddd;
}
tbody td:first-child {
    padding-left: 10px;
}



tfoot tr:last-child td {
    border-bottom-left-radius: .25rem;
    height: 100px;
}

.edicion {
    margin: auto;
    display: block;
    height: 56px;
    cursor: pointer;
}

.edicion:active {
    height: 60px;
}
.add, .inicio, .order, .admin, .tumba, .moves{
    position: fixed;
    display: block;
    margin: auto;
    height: 56px;
    width: 56px;
    cursor: pointer;
    top: 10px;
}
.order, .add, .inicio, .tumba, .moves {
    left: 20px;
}
.order{
    top: 90px;
}
.add{
    top: 160px;
}
.tumba{
    top: 230px;
}
.moves{
    top: 300px;
}
.admin{
    right: 20px; 
}
img:hover {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.content-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
    display: none;
}

.content-select {
    max-width: 250px;
    position: relative;
}

.content-select select {
    display: inline-block;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: 1em;
    position: relative;
    transition: all 0.25s ease;
}

.content-select select:hover {
    background-color: #e3e1e1;
}

/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i {
    position: absolute;
    right: 10px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 4px solid #ed1c40;
    border-bottom: 4px solid #ed1c40;
    transform: rotate(-45deg);
    /* Giramos el cuadrado */
    transition: all 0.25s ease;
}

.content-select:hover i {
    margin-top: 3px;
    background-color: #e3e1e1;
}
i {
    position: absolute;
    margin-top: 6px;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(-45deg);
    /* Giramos el cuadrado */
    transition: all 0.25s ease;
}

i:hover {
    background-color: transparent;
    transform: rotate(135deg);
}

i:active {
    margin-top: 15px;
}
tbody td i{
    border-left: 4px solid #ed1c40;
    border-bottom: 4px solid #ed1c40;
}
input{
    font-size: 15px;
    width: 120px;
    height: 30px;
}
.boolean{
    width: 300px;
}
.submit{
    width: 56px;
    height: 56px;
}
/* Ocultar botón radio */
input[id^="spoiler"]{
display: none;
}
/* Estilo botón clicable */
input[id^="spoiler"] + label {
display:inline-block;
width: 50px;
background: #ed1c40;
cursor: pointer;
text-align: center;
border-radius: 20%;
border: #aaa8a8 solid 1px;
color:#ccc;
height: 35px;
}
/* Estilo botón cuando su INPUT está seleccionado */
input[id^="spoiler"]:checked + label {
color: #333;
background: #ccc;

}
/* Estilo caja SPOILER (inicialmente oculto) */
input[id^="spoiler"] ~ .spoiler {
width: 100%;
height: 0;
overflow: hidden;
opacity: 0;
text-align: left;
width: 50px;

}
/* Estilo caja SPOILER cuando su INPUT está seleccionado */
input[id^="spoiler"]:checked + label + .spoiler{
height: auto;
opacity: 1;
width: 300px;
}